@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto',  sans-serif;
}

header {
  background-image: url('./images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}
.overlay {
  text-decoration: none;
  position: absolute;
  z-index: 1;
  top:0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(0, 25, 51, 0.5);
}
nav {
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: seashell;
  font-size: larger;
  padding-left: 50px;

}
.shop{
border-radius: 0% 0% 0% 0%;
width: 300px;
height: auto;
display: flex;
justify-content: center;
align-items: center;
font-family:'Roboto';
background-color:rgba(0,0,0,0.7);
font-size: 40px;
font-weight: 700 !important;
}
.logo{
  width: 300px;
  height: auto;
}

.buttongroup{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li{
  text-align: center;
  width: 90px;
  height: 30px;
  display: flex;
  background-color:rgba(0,0,0,0.7);
  margin-left: 10px;
  margin-right: 10px;
}
.cart ion-icon {
vertical-align: bottom;
font-size:20px;
padding-right:5px;
}
.button{
  border-radius: 0% 0% 0% 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0% 0% 0% 0%;
  width: 90px;
  height: 30px;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}
.cart {
  text-decoration: none;
  border-radius: 0% 0% 0% 0%;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}
.container,
.container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.image{
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  font-size: 11px;

}
.AdToCart{
  
  position: absolute;
  width: 100%;
  background-color: greenyellow;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  
}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
 
  
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

.container-products {
  max-width: 850px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}
.container-products ion-icon {
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.product-header{
  width: 100%;
  max-width: 850px;
  display:flex;
  justify-content: space-around;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}
.product-title{
width: 45%;
text-align: center;
}
  

.quantity{
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total{
  justify-content: flex-end;
  text-align: center;
  width: 10%;
  display: flex;
  align-items: center;
  
}
.product{
  width: 45%;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
 

}
.products ion-icon{
 cursor: pointer;
}
.products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product-img{
  width: 75%;
  
}
.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
  border-top: 4px solid lightgray;
}
.basketTotalTitle {
  width: 30%;
}
.basketTotal{
  width: 10%;
}
@media(max-width: 680px) {
  nav h2{
    width: 100%;
    text-align: center;
    margin-bottom:10px ;
  }
  
  .products,
  .product-header{
    justify-content: center;
  }
  .basketTotalContainer{
    padding-right: 8%;
  }
  .products {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .product-header{
    width: 100%;
    max-width: 850px;
    display:none;
    justify-content: space-around;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
 }
 .product-title{
  padding: 20px;
  text-align: center;
  }
    
  .quantity{
    padding: 8px;
    text-align: center;
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .total{
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid lightgray;
  }
  .product{
    padding: 8px;
    width: 45%;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.buttongroup{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav {
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: seashell;
  font-size: larger;
padding-left: 10px;
}
.shop{
border-radius: 0% 0% 0% 0%;
width: auto;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
font-family:'Roboto';
background-color:rgba(0,0,0,0.7);
font-size: 40px;
font-weight: 700 !important;
}
.logo{
  width: 300px;
  height: auto;
  font-style: normal;
}
}