@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto',  sans-serif;
}
header {
  background-image: url('./images/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}
.overlay {
  text-decoration: none;
  position: absolute;
  z-index: 1;
  top:0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(0, 25, 51, 0.5);
}
nav {
  position:absolute;
  top:0;
  right:0;
  left:0;
  z-index:2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
  color: seashell;
  font-size: larger;

}
.shop{
border-radius: 0% 0% 0% 0%;
width: 120px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
font-family:'Roboto';
background-color:rgba(0,0,0,0.7);
font-size: 40px;
font-weight: 700 !important;
margin-bottom: 9px;
}

.buttongroup{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav li{
  text-align: center;
  width: 90px;
  height: 30px;
  display: flex;
  background-color:rgba(0,0,0,0.7);
  margin-left: 10px;
  margin-right: 10px;
}
.cart ion-icon {
vertical-align: bottom;
font-size:20px;
padding-right:5px;
}
.button{
  border-radius: 0% 0% 0% 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0% 0% 0% 0%;
  width: 90px;
  height: 30px;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}
.cart {
  text-decoration: none;
  border-radius: 0% 0% 0% 0%;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.image{
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  font-size: 11px;

}
.AdToCart{
  
  position: absolute;
  width: 100%;
  background-color: darkgray;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  
}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4 {
 
  
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}